﻿@model ApplicationModel.Models.Unit
@{
    ViewBag.Title = "Poslovna jedinica";
}
<h2>@ViewBag.Title.</h2>

<h1>@Model.Name</h1>
<p>
    <table>
        <tr><td>Ime</td><td>Prezime</td><td>OIB</td><td>Dodatne informacije</td></tr>
        @foreach (var item in ViewBag.Employees)
        {           
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.OIB</td>
                <td>
                    @if (@item.IsUnitLeader)
                    {
                        @:Službeno vozilo: @item.OfficialVehicleName
                    }
                    else
                    {
                        @:Vještine:
                        foreach (var skill in item.Skills)
                        {
                            @skill.Name@:;
                        }
                    }
                </td>
            </tr>
        }
    </table>
</p>
<h2>Poslovne jedinice djeca</h2>
@foreach (var itm in ViewBag.ChildUnits)
{
    <p>
        @itm.Name
    </p>
}

